{% extends 'main/base.html' %}

{% block content %}
<div class="container-fluid mt-1 p-0">
<div class="row no-gutters">
    {% for foo in items %}
    <div class="col-lg-3 ml-2">
        <div class="card">
            <div class="card-body">
                <img src="{{ foo.img_one.url }}" alt="" class="card-img-top mb-4" height="300">
                <h5 class="display-5 ml-2">Title : {{ foo.title }}</h5>
                <h5 class="display-5 ml-2">Brand : {{ foo.brand.brand_name }}</h5>
                <h5 class="display-5 ml-2">Price : {{ foo.price }}</h5>
                <h5 class="display-5 ml-2">Discount : {{ foo.discoutn_price }}%</h5>
                <a href="{% url 'shop:item_detail' foo.item_id %}" class="btn btn-primary ml-5 mt-3">Bye Now</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}